.usersList a {
    display: block;
    margin-bottom: 10px;
}

.dialogs {
    display: flex;
    margin: 20px;

    &__items {
        font-size: 20px;
    }

    &__message {
        display: flex;
        flex-direction: column;
        margin-left: 50px;

        &__item {
            height: 120px;
            font-size: 17px;
            overflow-y: scroll;   
        }

        
        &__input {
            height: 25px;
            margin-top: 40px;
        }
    }

    &__messageButton {
        display: block;
        width: 50px;
        flex-direction: column;
    }
}


