.nav {
    width: 230px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: #81dbfc;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
    padding-top: 20px;
}

a {
    display: block;
    margin-bottom: 25px;
    padding-left: 30px;
    text-decoration: none;
    font-size: 20px;
    transition: 0.2s;

    &:hover {
        color: gold;
        transition: 0.3s;
      }
  
      &:active {
        color: rgb(177, 4, 70);
      }
}